html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.posts-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
}

.posts {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.posts-item {
  border: 2px solid black;
  border-radius: 3px;
}

.create-posts-letterbox {
  background: #eeeeee;
}

.create-post-call-to-action {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.create-post-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.create-post-text {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.posts-page-circle {
  border: 2px solid black;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.name {
  margin-top:20rem;
}

.register-email {
  margin-top: 1rem;
}

.registration-login-container {
  display: 'flex';
  flex-direction: 'column';
  width: 50%;
}

.landing-image {
  background-image: url('../src/assets/postmelon8.jpg');
  background-size: cover;
  background-position: center;
}


